/* reset */
*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 1050px;
    margin: auto;
}
/* header */
header{
    
    background-color: rgba(20, 34, 167, 0.822);
    height: 55px;
    display: flex;
    justify-content: center;
    
    
}
#header-left-section{
    height: 55px;
    width: 50%;
    
}
#header-right-section{
    height: 55px;
    width: 50%;
    
    
}
#top-head-upside{
    height: 50%;
    margin-left: 70px;
    
}
#top-head-downside{
    height: 50%;
    display: flex;
    margin-left: 70px;
    
}

#second-li-header{
    padding-left: 90px;
}
#first-li-header{
    margin-top: 10PX;
}
#second-li-header{
    margin-top: 10PX;
    padding-left: 67PX;
}
#header-li-1{
    color: white; 
    display: flex;
    width: 50%;
    height: 30%;
    list-style: none;
}
#email-input-head{
    height: 17px;
    width: 90px;
}
#password-input-head{
    height: 17px;
    width: 90px; 
    margin-left: 10px;
}
#btn-login{
    width: 55px;
    height: 22px;
    background-color:rgba(5, 45, 119, 0.438) ;
    color: white;
    border-radius: 3px;
    font-weight: 600;
    margin-left: 10PX;
}
header img{
    width: 140px;
    height: 35px;
    margin-left: 210px;
    margin-top: 10px;
}
/* main-content */
#main-content-div{
    
    height: 550px;
    display: flex;
    
    
}
/* left-section-main */
#left-content-main{
    
    width: 55%;
    height: 500px;
    align-content: center;
}
#main-image{
    width: 360px;
    margin-left: 160px;
    margin-top: 30px;
    
}
.left-image-p{
    font-weight: 800;
    
    font: bold;
    color: rgba(2, 40, 110, 0.781);
    margin-top: 37px;
    text-align: right;
    margin-right: 90px;
}
/* right-section-main */ 
#right-content-main{
    
    width: 45%;
    height: 500px;
    
}
#signup-right-section{
    
    margin-left:30px ;
    margin-top: 35px;
    width:280px ;
    height: 500px;
}
#signup-section2{
    
    height: 40px;
}
#its-free-text{
    color: rgba(3, 48, 133, 0.781);
    margin-left:7px ;
}
#signup-text{
    color:rgba(0, 34, 97, 0.753) ;
    margin-left: 7px ;
}
#left-right-div{
    display: flex;
    
}
#small-left-part{
    width: 30%;
    text-align: right;
    
}
#small-left-part ul{
    list-style: none;
    
}
#small-right-part{
    width: 70%;
    
}
/*inputs-style */
.main-content-inputs1{
    width: 180px;
    height: 23px;
    margin-top: 1px;
    
}
.main-content-inputs2{
    width: 180px;
    height: 23px;
    margin-top: 2px;
}
.main-content-inputs3{
    width: 180px;
    height: 23px;
    margin-top: 2px;
}
.main-content-inputs4{
    width: 180px;
    height: 23px;
    margin-top: 7px;
}
.main-content-inputs5{
    width: 180px;
    height: 23px;
    margin-top: 8px;
}

/* ulstyle */
.ul-style1{
    font-weight: 500;
    color: rgba(3, 48, 133, 0.781);
    font-weight: 600;
    font: bold;
    font-size: 13px;
    margin-top: 6px;
    
}
.ul-style2{
    font-weight: 500;
    color: rgba(3, 48, 133, 0.781);
    font-weight: 600;
    font: bold;
    font-size: 13px;
    margin-top: 12px;
}
.ul-style3{
    font-weight: 500;
    color: rgba(3, 48, 133, 0.781);
    font-weight: 600;
    font: bold;
    font-size: 13px;
    margin-top: 12px;
}
.ul-style4{
    font-weight: 500;
    color: rgba(3, 48, 133, 0.781);
    font-weight: 600;
    font: bold;
    font-size: 13px;
    margin-top: 12px;
}
.ul-style5{
    font-weight: 500;
    color: rgba(3, 48, 133, 0.781);
    font-weight: 600;
    font: bold;
    font-size: 13px;
    margin-top: 5px;
}
.ul-style6{
    font-weight: 500;
    color: rgba(3, 48, 133, 0.781);
    font-weight: 600;
    font: bold;
    font-size: 13px;
    margin-top: 5px;
}
.ul-style7{
    font-weight: 500;
    color: rgba(3, 48, 133, 0.781);
    font-weight: 600;
    font: bold;
    font-size: 13px;
    margin-top: 10px;
}
.select-inputs{
    border-radius: 4px;
    font-weight: 550;
    margin-top: 8px;
    
}
#link-right-section{
    margin-left: 75px;
    font: bold;
    
}
#paragraph-above-signup{
    margin-left: 75px;
}
#green-sign-up-down{
    margin-left: 85px;
    width: 90px;
    height: 27px;
    background-color: rgba(18, 148, 18, 0.801);
    color: white;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 700;
}
#line-below-signup{
    margin-top: 8px;
}
#Creat-a-page{
    font-weight: 600;
    text-align: center;
    color: rgb(112, 111, 111);
}
/* footer */
footer{
    width: 800px;
    margin-left: 170px;
}
.english-link{
    margin-left: 20px;
}
#lats-line-hr{
    margin-right: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.mobile-link{
    margin-left: 40px;
}
.developers-link{
    margin-left: 450px;
}
